@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-message {
  margin: 40px 0 20px;
  font-family: "Lato", sans-serif;
}

.error-img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dashboard {
  width: 99%;
  height: 96vh;
  align-items: center;
}

.dropdown-menu li {
  position: relative;
}

.dropdown:hover > .dropdown-menu {
  display: inline-block;
  margin-top: 0;
}

.menu {
  margin-top: 0.5rem;
}

.menu-button {
  width: 100%;
}

.search-bar {
  height: 37px;
  padding-left: 10px;
  position: relative;
  display: inline-block;
}

.search-bar::placeholder {
  color: #757575;
}

.search-result {
  color: #303030;
  background-color: transparent;
  border: 0;
  pointer-events: none;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: 0.375rem;
  max-height: 528px;
  overflow-y: auto;
  /*position the autocomplete items to be the same width as the container:*/
  top: 0;
  left: 100%;
  display: none;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #f8f9fa;
  color: #303030;
  /* border-bottom: 1px solid #d4d4d4; */
  white-space: nowrap;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: DodgerBlue;
}

/*when navigating through the items using the arrow keys:*/
/* .autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
} */

/* Estilos del scrollbar del div de resultados de busqueda */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
