@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-message {
  margin: 40px 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.error-img {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.frames {
  width: 100%;
  /* height: 100vh;
  display: inline-block; */
}

/* .dash-asesor{
  width: 65%;
  float: left;
  resize: horizontal;
  max-height: 100vh;
  padding: 20px;

}

.auto {
  width: 35%; 
  float: left;
} */

/*when navigating through the items using the arrow keys:*/
/* .autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
} */

/* Estilos del scrollbar del div de resultados de busqueda */
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
